@using Sitecore.Mvc
@using Sitecore.Mvc.Analytics.Extensions

<div>
    @Html.Sitecore().Field("Name")
</div>
<div>
    @Html.Sitecore().Field("Last Name")
</div>
<div>
    @Html.Sitecore().Field("Email")
</div>
<div>
    @Html.Sitecore().Field("ID Cart number")
</div>
<div>
    @Html.Sitecore().Field("Description")
</div>
